WebContent/wsdl/documentsrvimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DocumentSrvImplService" targetNamespace="http://service.manousos.gr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.manousos.gr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://service.manousos.gr/" schemaLocation="documentsrvimpl_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="testResponse">
    <wsdl:part name="parameters" element="tns:testResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finalSubmitE2Response">
    <wsdl:part name="parameters" element="tns:finalSubmitE2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getE2DocByIdResponse">
    <wsdl:part name="parameters" element="tns:getE2DocByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getE2DocById">
    <wsdl:part name="parameters" element="tns:getE2DocById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="test">
    <wsdl:part name="parameters" element="tns:test">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finalSubmitE2">
    <wsdl:part name="parameters" element="tns:finalSubmitE2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DocumentSrv">
    <wsdl:operation name="test">
      <wsdl:input name="test" message="tns:test">
    </wsdl:input>
      <wsdl:output name="testResponse" message="tns:testResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getE2DocById">
      <wsdl:input name="getE2DocById" message="tns:getE2DocById">
    </wsdl:input>
      <wsdl:output name="getE2DocByIdResponse" message="tns:getE2DocByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finalSubmitE2">
      <wsdl:input name="finalSubmitE2" message="tns:finalSubmitE2">
    </wsdl:input>
      <wsdl:output name="finalSubmitE2Response" message="tns:finalSubmitE2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentSrvImplServiceSoapBinding" type="tns:DocumentSrv">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getE2DocById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getE2DocById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getE2DocByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="test">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finalSubmitE2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="finalSubmitE2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finalSubmitE2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentSrvImplService">
    <wsdl:port name="DocumentSrvImplPort" binding="tns:DocumentSrvImplServiceSoapBinding">
      <soap:address location="http://localhost:8088/TaxisNet/services/DocumentSrvImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
