WebContent/wsdl/usersrvimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserSrvImplService" targetNamespace="http://service.manousos.gr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.manousos.gr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://service.manousos.gr/" schemaLocation="usersrvimpl_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="testResponse">
    <wsdl:part name="parameters" element="tns:testResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterResponse">
    <wsdl:part name="parameters" element="tns:RegisterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Register">
    <wsdl:part name="parameters" element="tns:Register">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterTaxPayer">
    <wsdl:part name="parameters" element="tns:RegisterTaxPayer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterTaxPayerResponse">
    <wsdl:part name="parameters" element="tns:RegisterTaxPayerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTaxPayerById">
    <wsdl:part name="parameters" element="tns:getTaxPayerById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTaxPayerByIdResponse">
    <wsdl:part name="parameters" element="tns:getTaxPayerByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="test">
    <wsdl:part name="parameters" element="tns:test">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserSrv">
    <wsdl:operation name="test">
      <wsdl:input name="test" message="tns:test">
    </wsdl:input>
      <wsdl:output name="testResponse" message="tns:testResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaxPayerById">
      <wsdl:input name="getTaxPayerById" message="tns:getTaxPayerById">
    </wsdl:input>
      <wsdl:output name="getTaxPayerByIdResponse" message="tns:getTaxPayerByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTaxPayer">
      <wsdl:input name="RegisterTaxPayer" message="tns:RegisterTaxPayer">
    </wsdl:input>
      <wsdl:output name="RegisterTaxPayerResponse" message="tns:RegisterTaxPayerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input name="Register" message="tns:Register">
    </wsdl:input>
      <wsdl:output name="RegisterResponse" message="tns:RegisterResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserSrvImplServiceSoapBinding" type="tns:UserSrv">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="test">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="test">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaxPayerById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTaxPayerById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTaxPayerByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Register">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RegisterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTaxPayer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="RegisterTaxPayer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RegisterTaxPayerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserSrvImplService">
    <wsdl:port name="UserSrvImplPort" binding="tns:UserSrvImplServiceSoapBinding">
      <soap:address location="http://localhost:8088/TaxisNet/services/UserSrvImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
